<!--------------------------------------------- Landing Page -------------------------------------------------------------------------->
<!--------------------------------------------- Home page component ----------------------------------------------------------------------------->

     <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
               <h1>Make your Task Management Easy</h1>
          </mat-grid-tile>
          <mat-grid-tile ><img src="assets\Kanban1.jpeg" alt="kanban board picture" width="600px" height="300px" ></mat-grid-tile>
        </mat-grid-list>
        